/* General Styles */
body {
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E201E;

}


.body2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Ensures vertical alignment of items */
    margin: 0; /* Remove default margin */
}

.back {
    width: 70px;
    height: 70px;
    margin: 50px; /* Ensures no additional margin affecting positioning */
    align-self: flex-start; /* Aligns item to the start of the cross-axis (vertical) */
    justify-self: flex-start; /* Aligns item to the start of the main-axis (horizontal) */
    z-index: 100;
}


.ExcerciseJFI {
    position: absolute;
    color: #ECDFCC;
    top: 220px;
    font-size: 30px;
}

.ExcerciseTitle {
    position: absolute;
    color: #ECDFCC;
    top: 50px;
    font-size: 70px;

}

.ExcerciseWeight {
    position: absolute;
    color: #ECDFCC;
    top: 310px;
    font-size: 30px;
}


.backdropMainVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #697565;
    top: 25%;
    height: 500px;
    width: 75%;
    border-radius: 5%;
}


.MainYoutube {
    height: 90%;
    width: 90%;
}


.MainAlternative {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    top: 55%;
    height: 707px;
    width: 75%;

}

.AlternativeItem {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #697565;
    height: 45%;
    width: 45%;
    position: absolute;
    border-radius: 5%;
}

.AlternativeItem:first-child {
    top: 0;
    left: 0;
}

.AlternativeItem:nth-child(2) {
    top: 0;
    right: 0;
}

.AlternativeItem:nth-child(3) {
    bottom: 0;
    left: 0;
}

.AlternativeItem:nth-child(4) {
    bottom: 0;
    right: 0;
}

.Alt1 {
    height: 90%;
    width: 90%;
}