body {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically */
    height: 100vh; /* Makes the body take up the full height of the viewport */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    background-color: #1E201E; /* Background color of the page */
}
