


body {
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;

}


.body2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Ensures vertical alignment of items */
    margin: 0; /* Remove default margin */
}

.back {
    width: 70px;
    height: 70px;
    margin: 50px; /* Ensures no additional margin affecting positioning */
    align-self: flex-start; /* Aligns item to the start of the cross-axis (vertical) */
    justify-self: flex-start; /* Aligns item to the start of the main-axis (horizontal) */
    z-index: 100;
}

.row1 {
    position: absolute;
    top: 15%;
    height: 150px;
    width: 80%;
    background-color: #393E46;
    border-radius: 25px 25px 0 0;
    
}

.row2 {
    position: absolute;
    top: 23.2%;
    height: 150px;
    width: 80%;
    background-color: #00ADB5;
}

.row3 {
    position: absolute;
    top: 31.4%;
    height: 150px;
    width: 80%;
    background-color: #393E46;
}

.row4 {
    position: absolute;
    top: 39.6%;
    height: 150px;
    width: 80%;
    background-color: #00ADB5;
}

.row5 {
    position: absolute;
    top: 47.8%;
    height: 150px;
    width: 80%;
    background-color: #393E46;
}

.row6 {
    position: absolute;
    top: 56%;
    height: 150px;
    width: 80%;
    background-color: #00ADB5;
    border-radius: 0 0 25px 25px;
}


.BsqInfo {
    position: absolute;
    color: #EEEEEE;
    font-size: 25px;
    top: 16.5%;
    left: 12%;
}

.DLInfo {
    position: absolute;
    color: #EEEEEE;
    font-size: 22px;
    top: 23%;
    left: 12%;
}

.BHTInfo {
    position: absolute;
    color: #EEEEEE;
    font-size: 25px;
    top: 31.9%;
    left: 12%;
}

.DWLInfo {
    position: absolute;
    color: #EEEEEE;
    font-size: 25px;
    top: 41%;
    left: 12%;
}

.LEInfo {
    position: absolute;
    color: #EEEEEE;
    font-size: 25px;
    top: 47.5%;
    left: 12%;
}

.SLCInfo {
    position: absolute;
    color: #EEEEEE;
    font-size: 25px;
    top: 56.5%;
    left: 11.5%;
}

.vertical1 {
    position: absolute;
    top: 15%;
    left: 37%;
    width: 2px;
    height: 898px;
    background-color: #1E201E;
    z-index: 10;

}

.vertical2 {
    position: absolute;
    top: 15%;
    left: 50.25%;
    width: 2px;
    height: 898px;
    background-color: #1E201E;
    z-index: 15;

}

.vertical3 {
    position: absolute;
    top: 15%;
    left: 63.5%;
    width: 2px;
    height: 898px;
    background-color: #1E201E;
    z-index: 15;

}


.vertical4 {
    position: absolute;
    top: 15%;
    left: 76.75%;
    width: 2px;
    height: 898px;
    background-color: #1E201E;
    z-index: 15;

}






.BHTnormal {
    position: absolute;
    width: 123.5px;
    height: 147px;
    top: 31.4%;
    z-index: 15;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #EEEEEE;
    font-size: 40px;
    outline: none;

}

.DLnormal {
    position: absolute;
    width: 123.5px;
    height: 147px;
    top: 23.2%;
    z-index: 15;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #EEEEEE;
    font-size: 40px;
    outline: none;

}

.Bsqnormal {
    position: absolute;
    width: 123.5px;
    height: 147px;
    top: 15%;
    z-index: 14;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #EEEEEE;
    font-size: 40px;
    outline: none;

}

.DWLnormal {
    position: absolute;
    width: 123.5px;
    height: 147px;
    top: 39.6%;
    z-index: 14;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #EEEEEE;
    font-size: 40px;
    outline: none;

}

.LEnormal {
    position: absolute;
    width: 123.5px;
    height: 147px;
    top: 47.8%;
    z-index: 14;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #EEEEEE;
    font-size: 40px;
    outline: none;

}

.SLCnormal {
    position: absolute;
    width: 123.5px;
    height: 147px;
    top: 56%;
    z-index: 14;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #EEEEEE;
    font-size: 40px;
    outline: none;

}

.BHTnormal::placeholder {
    color: #00ADB5;
}

.Bsqnormal::placeholder {
    color: #00ADB5;
}

.DLnormal::placeholder {
    color: #393E46;
}


.DWLnormal::placeholder {
    color: #393E46;
}

.LEnormal::placeholder {
    color: #00ADB5;
}

.SLCnormal::placeholder {
    color: #393E46;
}

.DWL1 {
    left: 37.2%;
}

.DWL2 {
    left: 50.45%;
}

.DWL3 {
    left: 63.7%;
}

.DWL4 {
    left: 76.95%;
}

.Bsq1 {
    left: 37.2%;
}

.Bsq2 {
    left: 50.45%;
}

.Bsq3 {
    left: 63.7%;
}

.Bsq4 {
    left: 76.95%;
}

.DL1 {
    left: 37.2%;
}

.DL2 {
    left: 50.45%;
}

.DL3 {
    left: 63.7%;
}

.DL4 {
    left: 76.95%;
}

.BHT1 {
    left: 37.2%;
}

.BHT2 {
    left: 50.45%;
}

.BHT3 {
    left: 63.7%;
}

.BHT4 {
    left: 76.95%;
}

.LE1 {
    left: 37.2%;
}

.LE2 {
    left: 50.45%;
}

.LE3 {
    left: 63.7%;
}

.LE4 {
    left: 76.95%;
}

.SLC1 {
    left: 37.2%;
}

.SLC2 {
    left: 50.45%;
}

.SLC3 {
    left: 63.7%;
}

.SLC4 {
    left: 76.95%;
}



.centerAbsButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    height: 15%;
    width: 100%;
}

.absButton {
    background-color: #EEEEEE;
    top: 50%;
    height: 40%;
    width: 45%;
    border-radius: 20px;
    border: none;
    font-size: 50px;
}



.centerDoneButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 64.3%;
    height: 35.7%;
    width: 100%;
}

.doneButton {
    background-color: #EEEEEE;
    top: 50%;
    height: 30%;
    width: 60%;
    border-radius: 20px;
    border: none;
    font-size: 50px;
    transition: 150ms ease-out;
}




.doneButton:active {
    scale: 1.25;
    background-color: #222831;
    font-size: 0px;
}


.infoSpot1 {
    display: flex;
    position: absolute;
    top: 16%;
    left: 10%;
    display: flex;
    height: 8.2%;
    width: 27%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.BsqInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 80%;
    height: 50%;
    text-align: center;
    word-break: break-word;
    font-size: 25px;
}

.infoSpot2 {
    display: flex;
    position: absolute;
    top: 23.2%;
    left: 10%;
    display: flex;
    height: 8.2%;
    width: 27%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.DLInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 80%;
    height: 50%;
    text-align: center;
    word-break: break-word;
    font-size: 25px;
}

.infoSpot3 {
    display: flex;
    position: absolute;
    top: 31.4%;
    left: 10%;
    display: flex;
    height: 8.2%;
    width: 27%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.BHTInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 80%;
    height: 50%;
    text-align: center;
    word-break: break-word;
    font-size: 25px;
}


.infoSpot4 {
    display: flex;
    position: absolute;
    top: 39.6%;
    left: 10%;
    display: flex;
    height: 8.2%;
    width: 27%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.DWLInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 80%;
    height: 30%;
    text-align: center;
    word-break: break-word;
    font-size: 25px;
}

.infoSpot5 {
    display: flex;
    position: absolute;
    top: 47.8%;
    left: 10%;
    display: flex;
    height: 8.2%;
    width: 27%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.LEInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 80%;
    height: 20%;
    text-align: center;
    word-break: break-word;
    font-size: 25px;
}

.infoSpot6 {
    display: flex;
    position: absolute;
    top: 55%;
    left: 10%;
    display: flex;
    height: 8.2%;
    width: 27%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.SLCInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 80%;
    height: 5%;
    text-align: center;
    word-break: break-word;
    font-size: 25px;
}
